body {
  background-color: powderblue;
  font-family: "Trebuchet MS";
}

hr {
  background-color: none;
  border-color: gray;
  border-style: dotted none none none;
  border-width: thick;
  width: 10%;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

a {
  color: #66bfbf;
}

a:hover {
  color: gray;
}

/**  Class Style  **/

.heading:hover {
  color: black;
  font-style: normal;
}
